.cont {
    width: 350px;
    margin-left: 150px;
}

.heading {
    color: darkslategrey;
    font-family: "Abyssinica SIL";
    margin: 30px;
}

.upload {
    width: 200px;
    height: 50px;
    background-color: #af8baf;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.upload input{
    display: inline-block;
}
.card{
   margin: 10px;
    display: flex;
}
