.cont{
    width: 350px;
    margin-left: 150px;
}
.heading{
    color: darkslategrey;
    font-family: "Abyssinica SIL";
    margin: 30px;
}
.upload {
    background-color: #4CAF50;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

