.cont{
    width: 350px;
    margin-left: 150px;
}
.heading{
    color: darkslategrey;
    font-family: "Abyssinica SIL";
    margin: 30px;
}
.upload {
    width: 250px;
    height: 200px;
    color: deeppink;
    margin: 40px;
}
